

body {
	background: #252525;
	color: #fff;
}

a {
	text-decoration:none!important;
}

.row {
	margin: 0px;
}

.main {
	padding: 0;
}

.color-b {
	color: #000;
}

h2 {
	font-size: 30px;
}

.headline {
	width: 100%;
	padding-left: 5px;
}

/*=========================================================================================================================================================================================
                                                                                         NAVIGATION
==========================================================================================================================================================================================*/

.navbar {
	padding: .5rem 5rem;
}

.bg-dark {
    background-color: #151515!important;
}

.nav-link {
    padding: 0 1rem;
    line-height: 1em;
    border-right: 1px solid rgba(255,255,255,0.5);
}

.nav-item:last-child .nav-link {
	border: 0px;
}

/*=========================================================================================================================================================================================
                                                                                           HEADER
==========================================================================================================================================================================================*/


/*=========================================================================================================================================================================================
                                                                                            FOOTER
==========================================================================================================================================================================================*/

footer {
	border-top: 10px solid #fff;
	position: relative;
    float: left;
    width: 100%;
    padding: 15px 0;
}

footer .row {
	text-align: center;
}

footer .footer-nav {
	text-align: center;
	padding: 0px;
	flex-direction: row;
	margin-bottom: 0px;
    padding: 10px 0;
    display: inline-block;
    margin: 0 auto;
}

footer .footer-nav:first-child {
	border-bottom: 2px solid #fff;
}

footer .footer-nav li {
	display: inline-block;
	float: none;
}

footer .footer-nav li a {
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
	border: 0px;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	width: 100%;
}

footer img {
	margin: 5px auto;
}

/*=========================================================================================================================================================================================
                                                                                             HOME
==========================================================================================================================================================================================*/

.live-cams {
	padding: 0 45px;
	width: 100%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    float:right;
}


/**DELAY OVER CSS*/

.colapse-cams {
	width: 75%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}



.home-cam {
	position: relative;
	padding: 5px;
}

.home-cam img {
	width: 100%;
}

.video-status {
	width: 100%;
	text-align: center;
	color:#000;
	text-transform: uppercase;
	font-size: 18px;
}

.live {
	background: #33CC00;
}

.video-info {
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 32px;
    color: #fff;
    width: calc(100% - 10px);
    font-size: 1.5vw;
    padding: 5px 10px;
}

.name {
	float: left;
	position: relative;
	padding: 0 10px;
}

.age {
	float: right;
	position: relative;
	text-align: right;
	padding: 0 10px;
}

.categories-wrap {
	position: relative;
	display: inline;
}

.categories {
	width: 25%;
	position: absolute;
    float: left;
    border-right: 1px solid #CB1D2A;
    left: -25%;
    z-index: 2;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background: #252525;
}

.expand-cat {
	left: 0%;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


.rel {
	position:relative;
}

.nerel {
	position: absolute;
}

.slide-button {
	background: #CB1D2A;
    transform: rotate(-90deg);
    position: absolute;
    right: -84px;
    cursor: pointer;
    top: 55px;
    padding: 0 30px 0 10px;
    font-size: 20px;
}

.slide-button i {
	position: absolute;
	right: 8px;
    bottom: 5px;
}


/*=============================================================================================
                                        HOME CATEGORIES
==============================================================================================*/

.cat-cam {
	padding-left: 0px;
	padding-right: 0px;
}

.close-cat {
	left:-200px;
}

.categories .nav-tabs {
	border: 0px;
}

.categories .nav li {
	color: #fff;
	padding: 10px 10px;
	background: #0C0C0C;
    width: 25%;
}

.categories .nav li.active {
	background: #252525;
}

.categories .nav li a {
	color: #fff;
}

.cat-table {
	width: 100%;
	padding: 0 15px;
}

.cat-table tr {
	border-bottom: 1px solid #515151;
}

.cat-table tr td {
	padding: 10px 0 10px 10px;
}

.cat-table tr td:last-child {
	text-align: right;
	padding: 10px 20px 10px 0;
	position: relative;
}

.cat-table tr td:last-child:after {
	content: "";
    position: absolute;
    right: 5px;
    background: url(../img/cat-arrow.png);
    width: 8px;
    height: 11px;
    top: 18px;
}


.cam-button {
	text-align: center;
	margin: 20px 0;
}

.cam-button a {
	display: inline-block;
	background: #CF1D2A;
	color: #fff;
	padding: 10px 15px;
	font-size: 26px;
}

/*=============================================================================================
                                        HOME SEARCH HOST BAR
==============================================================================================*/

.host-search-bar {
	background: #fff;
    display: flex;
}


.host-search-bar .col-lg-6 {
	position: relative;
	float: left;
}

.host-search-bar input {
	background: #EBEBEB;
}

.host-search-bar input, .host-search-bar button[type="submit"] {
	border-radius: 0px;
	border: 0px;
}

.host-search-bar button[type="submit"] {
	background: #CB1D2A;
	color: #fff;
	float: right;
}

.host-search-bar .form-group {
    position: relative;
    float: right;
    margin-bottom: 0px;
}

.hosts a {
	font-size: 23px;
    color: #172d3d;
    font-weight: 600;
    padding: 0 10px;

}

.hosts a:first-child {
	border-right: 2px solid  #172d3d;
}

/*=============================================================================================
                                        HOME TAGS
==============================================================================================*/

.tags-bar {
	padding: 15px 10px;
}

.tags-bar a {
	font-size: 15px;
	display: inline;
	margin-right: 10px;
	color: #fff;
}

/*=========================================================================================================================================================================================
                                                                                            PAGE 1
==========================================================================================================================================================================================*/


/*=========================================================================================================================================================================================
                                                                                            PAGE 2
==========================================================================================================================================================================================*/



/*=========================================================================================================================================================================================
                                                                                            PAGE 3
==========================================================================================================================================================================================*/



/*=========================================================================================================================================================================================
                                                                                            MEDIA QUERY
==========================================================================================================================================================================================*/

@media only screen and (max-width : 1650px) {
    .tags-bar .row {
    	text-align: center;
    	display: block;
    }
}


@media only screen and (max-width : 1200px) {
    .colapse-cams {
		width: 100%;
	}
}


@media only screen and (max-width : 992px) {
    .categories {
    	width: 40%;
    	left: -40%;
    }

    .expand-cat {
    	left: 0%;
	}

    .video-info {
	    font-size: 2vw;
	}
}


@media only screen and (max-width : 768px) {
    .video-info {
    	font-size: 3vw;
	}

	.categories {
    	width: 60%;
    	left: -60%;
    }

    .expand-cat {
    	left: 0%;
	}

	.host-search-bar .col-lg-6 {
    	text-align: center;
    	margin: 10px 0;
	}

	.host-search-bar button[type="submit"] {
	    background: #CB1D2A;
	    color: #fff;
	    float: none;
	    display: inline-block;
	}

	.host-search-bar .form-group {
	    position: relative;
	    float: none;
	    margin-bottom: 0px;
	    width: 200px;
	    display: inline-block;
	    top: 2px;
	    left: -5px;
	}
}


@media only screen and (max-width : 580px) {
    .video-info {
    	font-size: 4vw;
	}
}


@media only screen and (max-width : 370px) {
    .categories {
    	width: 80%;
    	left: -80%;
    }

    .expand-cat {
    	left: 0%;
	}
}
